# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.idea/

# IntelliJ IDEA
*.iml
*.iws
*.ipr

# Other projects
Bike/
CRUD operation/
KRmarket/
Project1/
Project2/
Project3/
SkyBook-CabSearch/
SkyBook-FlightSearch/
SkyBook-FlightStatus/
SkyBook-HotelSearch/
SkyBook-SightSeeing/
String/
a/
appointment/
appontment/
car/
collection/
contstant/
customer/
damage/
date/
exception/
expiry/
function/
generic/
hospital_management/
hotel/
hotel_booking/
instance method/
instances/
interface/
inventory_info/
job_portal/
kmf/
laptop/
map/
movies/
myPortal/
null/
online/
order/
payment/
pizza/
redbus/
sales/
servlet/
snack/
sort/
space/
stream/
task2.java
toString/
uber/
variable.java
watch/
wire/

# PDF and other files
*.pdf
*.DOC
*.jpeg
